<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/style.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <div class="login">
      <h2>
        Bonjour! <%= name %>, Vous pouvez créer un compte ou vous connecter ici
      </h2>
      <div>
        <a href="./registration">
          <button>Je veux créer mon compte</button>
        </a>
        <a href="./login">
          <button>Je veux me connecter</button>
        </a>
      </div>
    </div>
  </body>
</html>
