<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <div class="login">
      <h2>Bonjour! <%= name %> ,Vous pouvez vous connecter ici</h2>
      <form>
        <h2>écrivez votre nom d'utilisateur ici</h2>
        <div class="name">
          <input type="text" placeholder="username" />
        </div>

        <h2>écrivez votre mot de passe ici</h2>
        <div class="password">
          <input type="password" placeholder="mot de passe" />
        </div>
        <input type="submit" value="Se connecter" />
      </form>
    </div>
  </body>
</html>
